<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842348694467-l2rof5tlp78n0943gs38s170ve6ukhb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842348694467-l2rof5tlp78n0943gs38s170ve6ukhb4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>842348694467-j7bgugket5upe4296g7osjih63qsnet9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-zJ8A6CuZjEiNAVvU-k3ZxNs2YO8uFvE</string>
	<key>GCM_SENDER_ID</key>
	<string>842348694467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simonwork.dnpp.dnpp</string>
	<key>PROJECT_ID</key>
	<string>dnpp-402403</string>
	<key>STORAGE_BUCKET</key>
	<string>dnpp-402403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842348694467:ios:335d2385fc1d6d5d0bcb76</string>
</dict>
</plist>